.main-header
  = link_to "/", class: "main-header__btn1" do
    = icon('fab', 'youtube', class: 'main-header__btn1__icon')
    .main-header__btn1__text
      MyTube
  .main-header__box
  = link_to "https://www.youtube.com/", class: "main-header__btn2" do
    = icon('fas', 'video-slash')
  = link_to "https://www.youtube.com/", class: "main-header__btn3" do
    = icon('fa', 'user-circle')